%html
  %head
    %meta{charset: 'UTF-8'}
    %link{rel: 'stylesheet', href: 'stylesheets/bootstrap.min.css'}
    %link{rel: 'stylesheet', href: 'stylesheets/bootstrap-theme.min.css'}
    %link{rel: 'stylesheet', href: 'stylesheets/main.css'}

    %script{type: 'text/javascript', src: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false'}
    %script{type: 'text/javascript', src: 'javascripts/main.js'}
  %body
    .container-fluid
      .row-fluid
        .col-md-12
          #map-wrapper
            #map

          #caption-wrapper
            Press or hold Right-Arrow to advance the time!
            %br
            %small
              All data was retrieved from the Cape Metrorail website and from the Open Street Maps project.
            #time-wrapper
              00:00
