/* variables */

$background_colour: #fff
$map_shadow_size: 80px

/* css */

body {
	background-color: $background_colour;
}

#map-wrapper {
	position: relative;
	overflow: hidden;
}

#map {
	width: 100%;
	height: 600px;
}

#map-wrapper:before, #map-wrapper:after, #map:before, #map:after {
	position: absolute;
	z-index: 1;
	box-shadow: 0 0 $map_shadow_size ($map_shadow_size * 1.2) $background_colour;
	content: '';
}

#map-wrapper:before {
	top: -$map_shadow_size;
	right: 0;
	left: 0;
	height: $map_shadow_size;
}

#map-wrapper:after {
	top: 0;
	right: -$map_shadow_size;
	bottom: 0;
	width: $map_shadow_size;
}

#map:before {
	right: 0;
	bottom: -$map_shadow_size;
	left: 0;
	height: $map_shadow_size;
}

#map:after {
	top: 0;
	bottom: 0;
	left: -$map_shadow_size;
	width: $map_shadow_size;
}

#caption-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

#time-wrapper {
	font-weight: bold;
	font-size: 20px;
}

